.BtnText
{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.BtnNewIcon
{
	height: 12px;
	line-height: 12px;
	font-size: 10px;
	background-color: #00AE42;
	color: white;
	padding: 2px 4px;
	position: absolute;
	top: calc(50% - 8px);
	right: 12px;
	display: none;
}