[Desktop Entry]
Name=Bambu GCode viewer
Exec=snapmaker-orca --gcodeviewer %F
Icon=Snapmaker_Orca-gcodeviewer
Terminal=false
Type=Application
MimeType=text/x.gcode;
Categories=Graphics;3DGraphics;
Keywords=3D;Printing;Slicer;
